<div style="background-color:#fff;">
		
			<table >
				<tr>
			      <th>Developers</th>
			    </tr>
				<% for u in @dps %>
						<tr>
							<td><%= u.username %> </td>
						</tr>
				<% end %>
			</table>
</div>