<div style="background-color:#fff;">		
	<table class="table table-hover" Style="overflow-x:auto ;overflow-y:auto ;">
		<tr>
	      <th>Developers</th>
	    </tr>
		<% for u in @dps %>
				<tr>
					<td><%= u.username %> </td>
				</tr>
		<% end %>
	</table>
</div>